<footer class="footer">
  <div class="footer__inner container">
    <a href="/" class="footer__logo">
      <img src="/src/icons/logo.svg" width="97" height="30" alt="" loading="lazy">
    </a>
    <div class="footer__menu">
      <div class="footer__column">
        <a href="/" class="footer__title">О компании</a>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="" class="footer__link">Профиль компании</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">История</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Совет директоров</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Контакты</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <a href="/" class="footer__title">флот</a>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="" class="footer__link">Виды деятельности</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Устойчивое развитие</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Безопасность и качество</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Защита окружающей среды</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Социальная ответственность</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <a href="/" class="footer__title">Инвесторам</a>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="" class="footer__link">Акции</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Отчеты и результаты</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Раскрытие информации</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Корпоративное управление</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Аналитики</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Контакты для инвесторов</a>
          </li>
        </ul>
      </div>
      <div class="footer-contacts">
        <div class="footer-contacts__address">
          <ul class="footer-contacts__list">
            <li class="footer-contacts__item">
              <a href="/" class="footer-contacts__link">
                <p>
                  191186, Санкт-Петербург, Невский<br>
                  переулок, д. 3, офис 10-25
                </p>
              </a>
            </li>
            <li class="footer-contacts__item">
              <a href="/" class="footer-contacts__link">
                <p>
                  125047, Москва, Покровская площадь,<br>
                  д.3, к. 5,стр 1
                </p>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-contacts__info">
          <ul class="footer-contacts__list">
            <li class="footer-contacts__item">
              <a href="/" tel:+74951234567>
                +7 (495) 123-45-67
              </a>
            </li>
            <li class="footer-contacts__item">
              <a href="/" mailto:info@lead-group.ru>
                info@lead-group.ru
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script src="./../src/libs/slick/slick.min.js"></script>
<script src="./../src/js/custom-jquery.js"></script>
