<div class="hero-section">
  <h1 class="visually-hidden">Перевозка газа</h1>

  <img src="/src/img/ship.jpg" alt="" width="1920" height="900" class="background-img">

  {{> header }}

  <div class="hero container">
    <div class="hero__body">
      <div class="hero__body-inner">
        <h2 class="hero__body-title">
          Первый в мире <br>
          ледокольный газовоз
        </h2>
        <div class="hero__body-info">
          <p>Et elementum penatibus lacinia eget ut amet lorem. Id lectus magna quis odio in. In
            mi vitae ultrices et luctus eu gravida tincidunt cras. Quisque pellentesque mollis ut sed.</p>
        </div>
        <button class="hero__button button" type="button">Подробнее</button>
      </div>
      <div class="navigation-btn">
        <button class="navigation-btn__arrow">
          <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.2627 13.7375L3.5377 8L9.2627 2.2625L7.5002 0.5L0.000195503 8L7.5002 15.5L9.2627 13.7375Z"
              fill="white" />
          </svg>
        </button>
        <button class="navigation-btn__arrow">
          <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.737305 13.7375L6.4623 8L0.737305 2.2625L2.4998 0.5L9.9998 8L2.4998 15.5L0.737305 13.7375Z"
              fill="white" />
          </svg>
        </button>
      </div>
    </div>
    <div class="ship-spec">
      <div class="ship-spec__content">
        <h4 class="ship-spec__title">Танкер-газовоз СПГ «КАПИТАН ДАНИЛКИН»</h4>
        <dl class="ship-spec__list">
          <div class="ship-spec__item">
            <dt class="ship-spec__key">Грузовместимость:</dt>
            <dd class="ship-spec__value">172 600м3</dd>
          </div>
          <div class="ship-spec__item">
            <dt class="ship-spec__key">Ледопроходимость:</dt>
            <dd class="ship-spec__value">2,1 м</dd>
          </div>
          <div class="ship-spec__item">
            <dt class="ship-spec__key">Ледовый класс:</dt>
            <dd class="ship-spec__value">Arc7</dd>
          </div>
          <div class="ship-spec__item">
            <dt class="ship-spec__key">Число «Азиподов»:</dt>
            <dd class="ship-spec__value">3</dd>
          </div>
        </dl>
      </div>
      <img src="/src/img/ship-diagram.png" alt="" class="ship-spec__img">
    </div>
  </div>
</div>
