<section class="projects">
  <div class="projects__main container">
    <header class="projects__header">
      <h3 class="projects__title title">Проекты</h3>
      <div class="projects__navigation">
        <a href="/" class="projects__link title--link">Все проекты</a>
        <div class="navigation-btn navigation-btn--alt">
          <button class="navigation-btn__arrow">
            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.2627 13.7375L3.5377 8L9.2627 2.2625L7.5002 0.5L0.000195503 8L7.5002 15.5L9.2627 13.7375Z"
                fill="white" />
            </svg>
          </button>
          <button class="navigation-btn__arrow">
            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.737305 13.7375L6.4623 8L0.737305 2.2625L2.4998 0.5L9.9998 8L2.4998 15.5L0.737305 13.7375Z"
                fill="white" />
            </svg>
          </button>
        </div>
      </div>
    </header>
    <div class="projects__body">
      <div class="projects__body-main">
        <img src="/src/img/projects.jpg" width="706" height="600" alt="" class="projects__body-img">
        <div class="projects__body-info">
          <h4 class="projects__body-title">Diam nulla vulputate id cum</h4>
          <p class="projects__body-description">Fringilla eget auctor non sed viverra mattis. Lectus est est ullamcorper
            eu natoque vitae mi consequat. Eget ac elit viverra nec donec cras. Nec nunc nisi augue imperdiet blandit
            facilisis. Massa in purus ultricies libero vitae.</p>
        </div>
      </div>
      <div class="projects__spec">
        <dl class="projects__spec-list">
          <div class="projects__spec-item">
            <dt class="projects__spec-value"><span class="projects__spec-value--bold">130 000</span>тон</dt>
            <dd class="projects__spec-key">вес бетонного основания платформы</dd>
          </div>
          <div class="projects__spec-item">
            <dt class="projects__spec-value"><span class="projects__spec-value--bold">3,3</span>узла</dt>
            <dd class="projects__spec-key">составила скорость буксировки платформы</dd>
          </div>
          <div class="projects__spec-item">
            <dt class="projects__spec-value"><span class="projects__spec-value--bold">15</span>судов</dt>
            <dd class="projects__spec-key">проектная команда</dd>
          </div>
          <div class="projects__spec-item">
            <dt class="projects__spec-value"><span class="projects__spec-value--bold">41</span>метр</dt>
            <dd class="projects__spec-key">высота каждой колонны</dd>
          </div>
        </dl>
        <button class="projects__spec-button button button--alt" type="button">Подробнее</button>
      </div>
    </div>
  </div>
</section>
