<section class="publications">
  <div class="publications__main container">
    <header class="publications__header">
      <h3 class="publications__title title">Публикации</h3>
      <a href="" class="publications__link title--link">Все публикации</a>
    </header>
    <div class="publocations__body">
      <ul class="publications__list">
        <li class="publications__item">
          <img src="/src/img/publications/pub-1.jpg" width="306" height="260" alt="">
          <p class="publications__item-date" datetime="2022-9-6">6 сентября 2022 Г.</p>
          <h4 class="publications__item-subtitle">Nibh lacinia venenatis bibendum eget fermentum semper amet. Sed eu
            quis sed erat aliquam elementum nec. Pellentesque fringilla nunc.</h4>
          <a href="/" class="publications__item-link">Et blandit volutpat sed ullamcorper massa.</a>
        </li>
        <li class="publications__item">
          <img src="/src/img/publications/pub-2.jpg" width="306" height="260" alt="">
          <p class="publications__item-date" datetime="2022-9-6">6 сентября 2022 Г.</p>
          <h4 class="publications__item-subtitle">Mattis sem habitant non vitae scelerisque. Sagittis eleifend id
            convallis posuere feugiat nibh sed risus et. Id aliquam enim ut ac nunc porttitor.</h4>
          <a href="/" class="publications__item-link">Sollicitudin aliquet lorem sed varius a eget quis.</a>
        </li>
        <li class="publications__item">
          <img src="/src/img/publications/pub-3.jpg" width="306" height="260" alt="">
          <p class="publications__item-date" datetime="2022-9-5">5 сентября 2022 Г.</p>
          <h4 class="publications__item-subtitle">Sit quis non facilisis posuere. Nec sit auctor nibh integer lacus.
            Posuere vel amet quam egestas pulvinar dictum nunc tellus vitae. Non amet lacus.</h4>
          <a href="/" class="publications__item-link">In nulla non mattis facilisi sapien. In sodales.</a>
        </li>
        <li class="publications__item">
          <img src="/src/img/publications/pub-4.jpg" width="306" height="260" alt="">
          <p class="publications__item-date" datetime="2022-9-6">6 сентября 2022 Г.</p>
          <h4 class="publications__item-subtitle">Lobortis vitae in tellus ac fames amet. Magna et in nunc suspendisse
            eget. Massa ultrices velit turpis orci non gravida praesent in nibh quis.</h4>
          <a href="/" class="publications__item-link">Sagittis consequat placerat egestas nunc.</a>
        </li>
      </ul>
    </div>
  </div>
</section>
