<section class="safety">
    <div class="safety__inner container">
        <div class="safety____wrapper navigation-btn">
            <button class="navigation-btn__arrow">
                <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.2627 13.7375L3.5377 8L9.2627 2.2625L7.5002 0.5L0.000195503 8L7.5002 15.5L9.2627 13.7375Z"
                          fill="white"/>
                </svg>
            </button>
            <div class="safety-content">
                <div class="safety-content__body">
                    <div class="safety-content__info">
                        <p class="safety-content__subtitle">Устойчивое развитие</p>
                        <h5 class="safety-content__title">Безопасность и качество</h5>
                        <ul class="safety-content__list">
                            <li class="safety-content__item">
                                <p>
                                    Tincidunt fames porta pretium congue orci cursus. Ut nisl ultrices elit euismod
                                    tincidunt. Vitae
                                    accumsan tellus lectus viverra id scelerisque. Pellentesque viverra in nibh a
                                    gravida vulputate mauris.
                                    Proin nibh fusce faucibus a est sit sit in.
                                </p>
                            </li>
                            <li class="safety-content__item">
                                <p>
                                    Lobortis imperdiet adipiscing commodo ipsum vulputate in at nibh. Diam velit neque
                                    nisl pellentesque
                                    nunc. Elementum lacus commodo eu sed id massa scelerisque.
                                </p>
                            </li>
                            <li class="safety-content__item">
                                <p>
                                    Lacinia nunc sagittis arcu lobortis sed arcu suspendisse imperdiet nunc. Eu nunc
                                    tempor ultrices
                                    sollicitudin orci diam
                                </p>
                            </li>
                            <li class="safety-content__item">
                                <p>
                                    Quisque hac molestie mauris nunc mus nunc. Consequat sed ac integer sed nunc ut
                                    curabitur tincidunt.
                                    Urna eget sed at tristique in scelerisque cras.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <img src="/src/img/safety.jpg" width="480" height="410" alt="" class="safety-content__img"
                         loading="lazy">
                </div>
            </div>

            <button class="navigation-btn__arrow">
                <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.737305 13.7375L6.4623 8L0.737305 2.2625L2.4998 0.5L9.9998 8L2.4998 15.5L0.737305 13.7375Z"
                          fill="white"/>
                </svg>
            </button>
        </div>
    </div>
</section>
