.activities {
  padding-block: 9rem 15rem;

  @media screen and (max-width: 1200px) {
    padding-block: 6rem 8rem;
  }

  &__header {
    padding-bottom: 6rem;

    @media screen and (max-width: 768px) {
      padding-bottom: 3rem;
    }
  }
}
