.activities-projects {
  max-width: 52.4rem;
  height: 62rem;
  color: var(--color-white);
  background-color: var(--color-blue);

  @media screen and (max-width: 1200px) {
    height: 66rem;
  }

  &__spec {
    padding-block: 5rem 6rem;
    padding-inline: 6rem;
  }

  &__title {
    padding-bottom: 2.5rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.5rem;
    column-gap: 4.4rem;

    @media screen and (max-width: 1200px) {
      row-gap: 3rem;
      column-gap: 4rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__value {
    font-weight: 900;
    font-size: 6.4rem;
    line-height: 140%;
    text-transform: uppercase;

    @media screen and (max-width: 1200px) {
      font-weight: 700;
      font-size: 5rem;
    }
  }

  &__key {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
  }
}
