.button {
  width: 17rem;
  height: 5.1rem;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  color: var(--color-white);
  text-transform: uppercase;
  border: none;

  padding: 1.5rem 3rem;
  background: var(--color-red);

  &--alt {
    background: none;
    border: 0.1rem solid var(--color-white);
  }
}
