.footer-contacts {
  display: flex;
  flex-direction: column;
  width: 30.6rem;
  gap: 3rem;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: right;

    @media screen and (max-width: 768px) {
      text-align: left;
    }

    @media screen and (max-width: 576px) {
      text-align: center;
    }
  }

  &__address {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 140%;
  }

  &__info {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 140%;
    letter-spacing: 0.05em;

    * {
      gap: 1.1rem;
    }
  }
}
