.footer {
  background-color: var(--color-blue);

  &__inner {
    display: flex;
    flex-direction: column;
    padding-block: 6rem 7rem;
    gap: 4rem;
  }

  &__logo {
    display: flex;
    justify-content: center;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    color: var(--color-white);

    @media screen and (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 4rem;
    }

    @media screen and (max-width: 576px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 30.6rem;

    @media screen and (max-width: 576px) {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__title {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__item {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 140%;
  }
}
