.header {
  position: relative;
  z-index: 1;

  &__info-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 3rem;
    column-gap: 1rem;
    font-weight: 500;
    font-size: 1.4rem;
    border-bottom: solid 1px;

  }

  &__menu--info-list {
    display: flex;
    align-items: center;
    column-gap: 5rem;
  }

  &__body {
    padding-top: 3rem;
  }

  &__menu-list {
    display: flex;
    align-items: center;
    column-gap: 10.7rem;
  }

  &__menu-item {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 700;
    font-size: 1.4rem;
  }

  .search__button {
    border: none;
    background: none;
  }
}
