.hero {
  position: relative;
  z-index: 1;
  display: flex;
  padding-bottom: 10rem;


  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  &__body-inner {
    padding-top: 12rem;

    @media screen and (max-width: 768px) {
      padding-top: 6rem;
    }
  }

  &__body-title {
    font-weight: 300;
    font-size: 6rem;
    line-height: 140%;
    padding-bottom: 3rem;


    @media screen and (max-width: 768px) {
      font-size: 5rem;
      padding-bottom: 2rem;
    }
  }

  &__body-info {
    width: 41.6rem;
    padding-bottom: 5rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 140%;

    p {
      padding-left: 3rem;
      border-left: 0.2rem solid var(--color-white);
    }

    @media screen and (max-width: 768px) {
      padding-bottom: 2rem;
    }
  }

  &__button {
    margin-bottom: 13rem;

    @media screen and (max-width: 768px) {
      margin-bottom: 7rem;
    }
  }
}
