.hero {
  position: relative;
  z-index: 1;
  display: flex;
  padding-bottom: 10rem;

  &__body-inner {
    padding-top: 12rem;
  }

  &__body-title {
    font-weight: 300;
    font-size: 6rem;
    line-height: 140%;
    padding-bottom: 3rem;
  }

  &__body-info {
    width: 41.6rem;
    padding-bottom: 5rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 140%;

    p {
      padding-left: 3rem;
      border-left: 0.2rem solid var(--color-white);
    }
  }

  &__button {
    margin-bottom: 13rem;
  }
}
