.pages {
  padding-bottom: 6rem;
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;

  &__list {
    display: flex;
    gap: 1.5rem;
  }

  &__item {
    position: relative;
    // padding-left: 1.5rem;
  }

  &__item:not(:first-child) {
    padding-left: 1.9rem;
  }

  &__item:not(:first-child)::before {
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.4rem;
    height: 0.4rem;
    background: var(--color-blue);
  }
}
