.ship-spec {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  gap: 2rem;
  width: 52.6rem;
  margin-top: auto;
  margin-left: auto;
  padding: 3rem 3.5rem 3.5rem 3.5rem;
  background: rgba(51, 51, 51, 0.3);


  @media screen and (max-width: 768px) {
    margin-top: 7rem;
    // margin-left: 0;
  }

  @media screen and (max-width: 576px) {
    margin-left: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding-bottom: 2.5rem;
    margin: 0;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__img {
    position: absolute;
    right: 3.5rem;
    bottom: 6.75rem;
  }

  &__list {
    max-width: 32rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 140%;
  }

  &__item {
    display: grid;
    grid-template-columns: 12rem auto;
    gap: 1rem;
  }

  &__key {
    flex-shrink: 0;
  }

  &__value {
    padding-left: 0;
  }
}
