.title {
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &--alt {
    color: var(--color-white);
  }

  &--link {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color-blue);
  }
}
