.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &--link {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color-blue);
  }
}
