.vacancies {
  &__inner {
    margin-block: 9rem 15rem;

    @media screen and (max-width: 992px) {
      margin-block: 6rem 8rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  &__pages {
    margin-top: 6rem;
    padding-bottom: 0;

    @media screen and (max-width: 768px) {
      margin-top: 3rem;
    }
  }
}
